<h1>Sign in</h1>
  <%= form_tag(sessions_path) do %>
<div class="form_group">
    <%= label_tag :username %> <br>
  <%= text_field_tag :username %>
  </div>

  <div class="form_group">
      <%= label_tag :password %> <br>
      <%= password_field_tag :password %><br>
  </div>

    <div class="form_group">
      <%= submit_tag 'Sign in'%>
    </div>

<% end %>
