

<%= form_with(model: @user, local: true) do |f| %>
<h1 class='edit-head'> Edit account </h1>

  <p class='edit-form'>

    <%= f.label :username %><br>
    <%= f.text_field :username%>
  </p>

  <p class='edit-form'>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p class='edit-form'>
    <%= f.label :first_name %><br>
    <%= f.text_field :f_name %>
  </p>

  <p class='edit-form'>
    <%= f.label :last_name %><br>
    <%= f.text_field :l_name %>
  </p>

  <p class='edit-form'>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p class='edit-form'>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p class='edit-form'>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Delete account', @user, method: 'delete', data: { confirm: 'Are you sure you want to delete your account?' }, local: true  %>
