<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"> <%= notice %> </p>
    <nav>
      <%= link_to 'Log out', '/logout', { method: 'post', local:true } if logged_in? %>
      <% if !logged_in? %>
      <%= link_to 'Sign up', '/signup' %>
      <%= link_to 'Sign in', '/signin' %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
